body{
    background: white;
}
.jumbotron {
    height: 600px;
    padding: 0;
    background-image: url(https://picsum.photos/id/1/1000/600);
    background-repeat: no-repeat;
    background-size: 100% 600px;
    object-fit: cover;
    padding-top: 50px;

}


/* .jumbotron .header-1 {
margin-top: 10px;
} */