<!-- your html code here -->
<!-- <p>Hello, I'm contact.html</p> -->

<div class="container-fluid mx-auto mt-4">
    <div class="row mx-auto">
        <h4>Contact</h4>
        <p class="small">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae doloremque laborum in
            placeat vero quaerat dolore nam corporis laboriosam. Quidem voluptatem quo delectus voluptates iure
            doloribus ratione quae impedit enim.</p>
    </div>

    <!--Formulario-->
    
    <div class="row mx-auto">
        <form class="col-8 mx-auto bg-light">
            <!--Email-->
            <div class="form-group row pt-4 justify-content-end">
              <label for="inputEmail3" class="col-form-label">Email</label>
              <div class="col-8">
                <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
              </div>
            </div>
            <!--mensaje-->
            <div class="form-group row pt-4 justify-content-end">
              <label for="message" class="col-form-label">Your Message</label>
              <div class="col-8">
                <textarea name="message" class="form-control" id="message" rows="6" placeholder="Please enter your message here..."></textarea>
              </div>
            </div>
            <div class="form-group row py-3">
              <div class="col-12">
                <button type="submit" class="btn btn-primary float-right">Sign in</button>
              </div>
            </div>
          </form>

    </div>
</div>

</div>