<!-- your html code here -->
<!-- <p>Hello, I'm the first_heading.html</p> -->

<div class="container-fluid w-100">
    <div class="row d-flex align-middle">
        <div class="col-8 float-left mx-auto mt-5">
            <h6> This First Heading <span class="text-muted">Will Catch Your Eye</span></h6>
            <p class="small">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo nostrum inventore saepe animi obcaecati voluptates incidunt culpa in similique delectus et laborum possimus labore, minus dolor, sed voluptatem atque ut.
            </p>
        </div>
        <div class="col-4 mt-5 d-flex">
            <img class="img-fluid rounded-circle align-self-center" src="https://picsum.photos/300?random=1" alt="Photo">
        </div>
    </div>

</div>