<h1 class="mt-5">Portfolio</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi sapiente dignissimos laboriosam doloribus. Velit
  culpa cumque dolores minima temporibus doloremque vel hic, ipsam sequi exercitationem ducimus nihil saepe ratione
  sunt.</p>

<div class="card-deck">
  <div class="card border-0">
    <img class="card-img-top" src="https://picsum.photos/700/400" alt="Card image cap">
    <div class="card-body" style="padding-left: 0px;">
      <h2 class="card-title text-primary">Project Name</h2>
      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque officia dolorem, animi
        eos omnis ratione illum soluta maxime, vel asperiores neque sunt consequatur laboriosam iure. Enim molestias
        ipsum esse temporibus.</p>

    </div>
  </div>

  <div class="card border-0">
    <img class="card-img-top" src="https://picsum.photos/700/400" alt="Card image cap">
    <div class="card-body" style="padding-left: 0px;">
      <h2 class="card-title text-primary">Project Name</h2>
      <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore, aperiam quae!
        Consequuntur soluta, tempora iusto praesentium recusandae cumque porro esse magni dolor dolorum nam totam
        quisquam, cupiditate repudiandae quasi. Recusandae.</p>

    </div>
  </div>

  <div class="card border-0">
    <img class="card-img-top" src="https://picsum.photos/700/400" alt="Card image cap">
    <div class="card-body" style="padding-left: 0px;">
      <h2 class="card-title text-primary">Project Name</h2>
      <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quisquam quis maxime totam
        voluptatum, pariatur praesentium corporis tempora aliquam cumque et, itaque, ea alias porro exercitationem ad.
        Vero, fugit. Illum, iure.</p>

    </div>
  </div>
</div>