<!-- your html code here -->
<div class="container-fluid w-100">
    <div class="row d-flex align-middle">
        <div class="col-4 mt-5 d-flex">
            <img class="img-fluid rounded-circle align-self-center" src=" https://picsum.photos/310/310" alt="Photo">
        </div>
        <div class="col-8 float-right mx-auto mt-5">
            <h6> The Second Heading <span class="text-muted">Is Pretty Cool Too.</span></h6>
            <p class="small">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis
                euismod semper. Preasent commodo cursus magn, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac
                cursus commodo.</p>

        </div>

    </div>

</div>