<!-- your html code here -->

<!-- <div class="card mb-3">
    <img class="card-img-center">
    <div class="card-body">
        <h1 class="card-title">One Page Wonder</h1>
    </div>
</div>
</div> -->

<!-- <div class="col-md-12">
    <h1 class="display-1 bg-light d-flex justify-center">One Page Wonder</h1>
    <h1 class="displey-3 bg-light d-flex justify-center align-itens-center">Will Knock Your Socks of</h1>

</div> -->

<div class="jumbotron">
    <div class="header-1">
        <h1 class="display-1 bg-white text-center">One Page Wonder</h1>
    </div>
    <div>
        <h1 class="display-3 bg-white text-center">Will Knock Your Socks of</h1>
    </div>
</div>